.form {
  border: 1px solid gainsboro;
  background-color: #011f5e;
  border-radius: 8px;
  padding: 20px;

  width: 320px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  text-align: left;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: 8px;
}

.form span {
  color: rgb(255, 109, 72);
  font-size: 13px;
  margin-bottom: 8px;
}

.input {
  width: 95%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(254, 250, 250);
  padding: 0px 8px;
  margin-bottom: 5px;
  font-size: 15px;
}

.form button {
  background-color: #011f5e;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.form button:hover {
  background-color: #1d4ab4;
}
