#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-style-div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.app-style-div-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
